<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="../static/script/home.js"></script>
        <title>Home</title>
        <style>
            a{
                text-decoration: none;
                color: black;
            }
        </style>
    </head>
    <body id="body">
        <!-- navbar -->
        <div>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand m-2" href="/"><strong>QR PAY</strong></a>
                <a  class="m-2" href="/getStalls">
                    {% if status!="Invalid Login Attempt" %}
                        <strong>
                            {{status}}
                        </strong>
                    {% endif %}
                </a>
              </nav>
        </div>
        <div class="container">
            <form action="/getStalls">
                <h1 class="text-center text-warning m-3">QR Payments System</h1>
                <div class="mt-5 mx-auto">
                    <div style="width: 22rem;" class="card  mx-auto shadow cards rounded ">
                        <img class=" w-100 img-fluid rounded" src="https://munch.mykaribe.com/images/food_animation.gif" alt="Unavailable">
                        <div class="card-body p-2">
                            <h5>{{stall_name}}</h5>
                        </div>
                        <div>
                            <button class="btn btn-primary float-end m-2 " type="submit" >Get Stalls</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Don't write below this line -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>