<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>QR Code</title>
</head>
<body>
    <div class="container">
        <form class="m-5">
            <div class="text-center ">
                <h4 class="text-danger">Generated QR Code</h4>
            </div>
            <div class="mt-5 qr">
                <img class="border border-dark rounded shadow" src="{{url_for('static', filename='/qrcodes/'+filename)}}" alt="Unavailable">
            </div>
            <div class="text-center x mt-5">
                <button type="submit" class="btn btn-primary me-5   " formaction="/downloadQRCode/{{filename}}"><h6>Download QR </h6></button>
                <button type="submit" class="btn btn-primary " formaction="/downloadQRCode/{{filename}}"><h6>Clear Session</h6></button>
            </div>
        </form>
    </div>
    <!-- Don't write below this line -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>